@include b("process-step") {
  position: relative;
  @include e("item") {
    position: absolute;
    color: #ffffff;
    background-color: #1890ff;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    @include e("arrow") {
      position: absolute;
      top: 50%;
      height: 2px;
      background-color: rgb(129, 129, 129);
      transform: translate(0, -50%);
      &::after {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px;
      }
      &.normal::after {
        right: -5px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: rgb(129, 129, 129);
      }
      &.reverse::after {
        left: -5px;
        border-top-color: transparent;
        border-right-color: rgb(129, 129, 129);
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }
    @include e("arrow-down") {
      position: absolute;
      left: 50%;
      width: 2px;
      background-color: rgb(129, 129, 129);
      transform: translate(-50%, 0);
      &::after {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px;
        bottom: -5px;
        border-top-color: rgb(129, 129, 129);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }
  }
}
