.hj-button {
  display: inline-block;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.is-loading {
    position: relative;
  }
  &--loading {
    position: absolute;
    cursor: not-allowed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background-color: rgba(95, 95, 95, 0.39);
    color: #ffffff;
  }
  &__default {
    border: 1px solid #409eff;
    background-color: #409eff;
    color: #ffffff;
  }
  &__success {
    border: 1px solid #67c23a;
    background-color: #67c23a;
    color: #ffffff;
  }
  &__warning {
    border: 1px solid #e6a23c;
    background-color: #e6a23c;
    color: #ffffff;
  }
  &__danger {
    border: 1px solid #f56c6c;
    background-color: #f56c6c;
    color: #ffffff;
  }
  &__small {
    font-size: 12px;
    padding: 5px 10px;
  }
  &__middle {
    font-size: 14px;
    padding: 7px 15px;
  }
  &__large {
    font-size: 16px;
    padding: 10px 20px;
  }
  &__right {
    border-radius: 0;
  }
  &__semicircle {
    border-radius: 4px;
  }
  &__circle {
    border-radius: 20px;
  }
  .hj-icon + span {
    margin-left: 5px;
  }
}
.hj-button-group {
  display: flex;
  .hj-button:not(:last-child) {
    margin-right: 1px;
  }
  .hj-button:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .hj-button:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
